
<!-- <div class="slider-container">
    <mat-icon>open_in_full</mat-icon>
    <input type="range" class="slider" min="0" max="200" [(ngModel)]="percentage" (input)="resizeImage()">
    <input class="percentage-input" placeholder="%" [(ngModel)]="percentage" (keyup)="resizeImage()">
</div> -->
<div class="slider-container">
    <mat-icon>open_in_full</mat-icon>
    <app-custom-slider [percentage]="percentage" (percentageUpdate)="onPercentageUpdate($event)"></app-custom-slider>
    <input class="percentage-input" placeholder="%" [(ngModel)]="percentage" (keyup)="resizeImage()">
</div>
<img src="../assets/cat.png" alt="cat photo" class="image" [width]="imageWidth" height="auto">